# Angular build output
/dist/
/out-tsc/

# Node dependencies
/node_modules/

# IDEs and editors
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# Compiled files
*.js
*.js.map
*.tsbuildinfo

# Environment files
/src/environments/environment*.ts

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Angular cache
.angular/

# Coverage reports
/coverage/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*